.container-card-p{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.wrapper{
    width: 100%;
    margin: 5% auto 0;
    overflow: hidden;
}

figure{
    overflow: hidden;
    width: 800px;
    height: 300px;
    float: left;
    position: relative;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

figure img{
    width: 100%;
    height: 100%;
    transition: transform 1s ease;
}

figure:hover img{
    transform: scale(1.2);
    cursor: pointer;
}

.front-card{
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.overlay{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s;
}

.overlay p{
    color: white;
    font-size: 20px;
    text-align: center;
}


figure:hover .overlay{
    opacity: 1;
}

.img-card{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
