::-webkit-scrollbar {
  display: none;
}

body{
  margin:0;
  background-color: #f7f8ed;
  background-size: 50% 50%;
  scrollbar-width: none; /* Para Firefox */
  -ms-overflow-style: none; /* Para Internet Explorer y Edge */
}



.container-all{
  height: 100vh;
  width: 100%;
  margin-top: 80px;
  display: grid;
  grid-template-rows: auto 1fr auto;
}



.content{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

