@import url('https://fonts.googleapis.com/css?family=Roboto:300');

.aboutme{
    display: flex;
    flex-direction: column;
  }

#personal-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #48602b;
  margin-top: 50px;
}

#card-personal{
  /* background-image: url('./src/assets/fondo1.jpg'); */
  background-size: cover;
  width: 90%;
  height: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}


#container-flip{
  height: 90%;
  width: 100%;
  position: relative;
}

#container-flip:hover > #card-flip{
  cursor: pointer;
  transform: rotateY(180deg);
}

#card-flip{
  height: 100%;
  width: 70%;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

#image-container1{
  background-image: url('./src/assets/FrancisPerfil.jpg');
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: white;
}

#image-container2{
  background-image: url('./src/assets/perfil2.jpg');
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: blue;
  transform: rotateY(180deg);
}

.flip{
  position: absolute;
  backface-visibility: hidden;
}








#title-content{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -120px;
  }
    
#name{
  font-size: 100px;
  text-transform: uppercase;
  font-family: 'Gambetta', serif;
  letter-spacing: -3px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  margin-bottom: 0.8rem;
  color: #48602b;
  outline: none;
  text-align: center;;
}

#name:hover{
  font-variation-settings: "wght" 582; 
  letter-spacing: 1px;
}

#second-title-container{
  text-align:center;
  color:#555;
  font-family:'Roboto';
  font-weight:300;
  font-size:32px;
  overflow:hidden;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0,0,0);
}


@keyframes showup {
  0% {opacity:0;}
  20% {opacity:1;}
  80% {opacity:1;}
  100% {opacity:0;}
}

@keyframes slidein {
  0% { margin-left:-800px; }
  20% { margin-left:-800px; }
  35% { margin-left:0px; }
  100% { margin-left:0px; }
}

@keyframes reveal {
  0% {opacity:0;width:0px;}
  20% {opacity:1;width:0px;}
  30% {width:355px;}
  80% {opacity:1;}
  100% {opacity:0;width:355px;}
}

#title2{
  color: #48602b;
  font-size: 25px;
}

.desc{
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
}

.desc:first-of-type{
  animation: showup 7s infinite;
}

.desc:last-of-type {
  width:0px;
  animation: reveal 7s infinite;
}

.desc:last-of-type span {
  margin-left:-355px;
  animation: slidein 7s infinite;
}

